<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.0" package="legacybar.sample" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="21" />
	<application android:label="LegacyBar Sample"></application>
</manifest>